{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenCap Stack API",
    "description": "Cap table and equity management REST API aligned with OCTA v2.0 schema. Manage stakeholders, share classes, equity grants, SAFE notes, 409A valuations, and investor reports.",
    "version": "1.0.0",
    "contact": {
      "name": "OpenCap Stack",
      "url": "https://opencapstack.com/support",
      "email": "support@opencapstack.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/Open-Cap-Stack/opencapstack/blob/main/LICENSE"
    },
    "x-logo": "https://opencapstack.com/logo.png"
  },
  "servers": [
    { "url": "https://api.opencapstack.com/api/v1", "description": "Production" },
    { "url": "http://localhost:3000/api/v1", "description": "Local development" }
  ],
  "tags": [
    { "name": "auth", "description": "Authentication and account management" },
    { "name": "agents", "description": "Agent onboarding and programmatic access" },
    { "name": "stakeholders", "description": "Cap table participants — founders, investors, employees, advisors" },
    { "name": "share-classes", "description": "Share class definitions" },
    { "name": "equity-grants", "description": "Option grants, RSUs, warrants" },
    { "name": "safe-notes", "description": "SAFE instruments" },
    { "name": "valuations", "description": "409A and fair market value determinations" },
    { "name": "fundraising", "description": "Funding rounds and dilution modeling" },
    { "name": "dilution", "description": "Dilution calculation and scenario modeling" },
    { "name": "documents", "description": "Document management and digital signing" },
    { "name": "reports", "description": "Financial reports and analytics" },
    { "name": "plugin", "description": "Plugin-optimized endpoints for AI chat interfaces" },
    { "name": "equity-plans", "description": "Equity compensation plans and option pools" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Stakeholder": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "type": { "type": "string", "enum": ["FOUNDER", "INVESTOR", "EMPLOYEE", "ADVISOR", "BOARD_MEMBER"] },
          "company_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ShareClass": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["COMMON", "PREFERRED", "OPTIONS", "WARRANT"] },
          "authorized_shares": { "type": "number" },
          "par_value": { "type": "number" },
          "company_id": { "type": "string", "format": "uuid" }
        }
      },
      "SAFENote": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "investor_id": { "type": "string", "format": "uuid" },
          "investment_amount": { "type": "number", "description": "USD cents" },
          "valuation_cap": { "type": "number", "description": "USD cents" },
          "discount_rate": { "type": "number", "minimum": 0, "maximum": 1 },
          "type": { "type": "string", "enum": ["PRE_MONEY", "POST_MONEY", "MFN"] },
          "status": { "type": "string", "enum": ["OPEN", "CONVERTED", "CANCELLED"] }
        }
      },
      "CapTableSummary": {
        "type": "object",
        "properties": {
          "companyId": { "type": "string", "format": "uuid" },
          "stakeholders": {
            "type": "object",
            "properties": {
              "total": { "type": "integer" },
              "byType": { "type": "object", "additionalProperties": { "type": "integer" } }
            }
          },
          "shareClasses": {
            "type": "object",
            "properties": {
              "total": { "type": "integer" },
              "totalAuthorizedShares": { "type": "number" }
            }
          },
          "safes": {
            "type": "object",
            "properties": {
              "total": { "type": "integer" },
              "open": { "type": "integer" },
              "totalInvestment": { "type": "number" }
            }
          },
          "latestValuation": {
            "type": "object",
            "nullable": true,
            "properties": {
              "fairMarketValue": { "type": "number" },
              "effectiveDate": { "type": "string", "format": "date" },
              "status": { "type": "string" }
            }
          },
          "generatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "AgentOnboardRequest": {
        "type": "object",
        "required": ["agent_id"],
        "properties": {
          "agent_id": { "type": "string", "description": "Unique identifier for this agent instance" },
          "agent_name": { "type": "string", "description": "Human-readable agent name" },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["read:cap-table", "write:stakeholders", "write:equity", "read:financials", "write:documents", "read:analytics"]
            }
          },
          "company_context": { "type": "string", "description": "Optional company identifier to scope access" }
        }
      },
      "AgentOnboardResponse": {
        "type": "object",
        "properties": {
          "token": { "type": "string", "description": "JWT for API access" },
          "api_key": { "type": "string", "description": "Long-lived API key (ocs_ prefix)" },
          "company_id": { "type": "string", "format": "uuid" },
          "capabilities": { "type": "array", "items": { "type": "string" } },
          "provisioned_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "DilutionRequest": {
        "type": "object",
        "required": ["round_size", "pre_money_valuation"],
        "properties": {
          "round_size": { "type": "number", "description": "New money raised in USD cents" },
          "pre_money_valuation": { "type": "number", "description": "Pre-money valuation in USD cents" },
          "option_pool_increase": { "type": "number", "description": "New option pool shares to add" }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": {} },
          "pagination": {
            "type": "object",
            "properties": {
              "page": { "type": "integer" },
              "limit": { "type": "integer" },
              "total": { "type": "integer" },
              "pages": { "type": "integer" }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "version": { "type": "string" },
              "timestamp": { "type": "string", "format": "date-time" },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "status": { "type": "integer" },
              "docs": { "type": "string", "format": "uri" }
            }
          }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["auth"],
        "summary": "Register new user account",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string", "minLength": 8 },
                  "name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Account created, returns JWT" },
          "400": { "$ref": "#/components/schemas/Error" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["auth"],
        "summary": "Login and obtain JWT",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Returns { token, refreshToken }" },
          "401": { "$ref": "#/components/schemas/Error" }
        }
      }
    },
    "/auth/plugin/authorize": {
      "get": {
        "tags": ["auth"],
        "summary": "OAuth authorization endpoint for plugin integrations",
        "description": "Initiates the OAuth authorization code flow. Requires the user to be logged in. Returns an authorization code via redirect to the specified redirect_uri.",
        "parameters": [
          { "name": "client_id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "redirect_uri", "in": "query", "required": true, "schema": { "type": "string", "format": "uri" } },
          { "name": "state", "in": "query", "schema": { "type": "string" } },
          { "name": "response_type", "in": "query", "schema": { "type": "string", "default": "code" } }
        ],
        "responses": {
          "302": { "description": "Redirects to redirect_uri with code and state parameters" },
          "400": { "description": "Invalid client_id or redirect_uri" },
          "401": { "description": "User not authenticated" }
        }
      }
    },
    "/auth/plugin/token": {
      "post": {
        "tags": ["auth"],
        "summary": "Exchange authorization code for access token",
        "description": "Exchanges a short-lived authorization code for a JWT access token. Used by plugin hosts after the user completes the OAuth consent flow.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["code", "client_id"],
                "properties": {
                  "code": { "type": "string", "description": "Authorization code from the authorize step" },
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" },
                  "redirect_uri": { "type": "string", "format": "uri" },
                  "grant_type": { "type": "string", "default": "authorization_code" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": { "type": "string" },
                    "token_type": { "type": "string", "example": "bearer" },
                    "expires_in": { "type": "integer", "example": 3600 }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid code or client_id" },
          "401": { "description": "Invalid client_secret" }
        }
      }
    },
    "/auth/plugin/userinfo": {
      "get": {
        "tags": ["auth"],
        "summary": "Get current plugin user info",
        "description": "Returns basic user information for the authenticated plugin session. Requires a valid Bearer token.",
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "email": { "type": "string", "format": "email" },
                    "companyId": { "type": "string" },
                    "role": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "description": "Not authenticated" }
        }
      }
    },
    "/agents/onboard": {
      "post": {
        "tags": ["agents"],
        "summary": "Agent self-onboarding — zero human steps",
        "description": "Agents can register and receive a JWT with no human intervention. POST agent_id and requested capabilities, receive token immediately.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentOnboardRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent provisioned, returns token and credentials",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentOnboardResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/schemas/Error" }
        }
      }
    },
    "/stakeholders": {
      "get": {
        "tags": ["stakeholders"],
        "summary": "List all stakeholders and their equity ownership",
        "description": "Returns a paginated list of all cap table participants including founders, investors, employees, and advisors with their ownership details.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["FOUNDER", "INVESTOR", "EMPLOYEE", "ADVISOR"] } }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of stakeholders",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedResponse" } } }
          }
        }
      },
      "post": {
        "tags": ["stakeholders"],
        "summary": "Add a new stakeholder to the cap table",
        "description": "Creates a new stakeholder record. This is a write operation — confirm with the user before executing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Stakeholder" }
            }
          }
        },
        "responses": {
          "201": { "description": "Stakeholder created" },
          "400": { "$ref": "#/components/schemas/Error" }
        }
      }
    },
    "/share-classes": {
      "get": {
        "tags": ["share-classes"],
        "summary": "List all share classes (common, preferred, options)",
        "description": "Returns all share class definitions for the company, including common stock, preferred stock, and option pools.",
        "responses": { "200": { "description": "List of share classes" } }
      },
      "post": {
        "tags": ["share-classes"],
        "summary": "Create a new share class",
        "description": "Defines a new share class. This is a write operation — confirm with the user before executing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ShareClass" } }
          }
        },
        "responses": { "201": { "description": "Share class created" } }
      }
    },
    "/safes": {
      "get": {
        "tags": ["safe-notes"],
        "summary": "List all SAFE notes",
        "description": "Returns all SAFE (Simple Agreement for Future Equity) instruments for the company, including their status, investment amounts, and valuation caps.",
        "responses": { "200": { "description": "List of SAFE notes" } }
      },
      "post": {
        "tags": ["safe-notes"],
        "summary": "Create a new SAFE note",
        "description": "Creates a new SAFE instrument. This is a write operation that creates a financial commitment — confirm all details with the user before executing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/SAFENote" } }
          }
        },
        "responses": { "201": { "description": "SAFE created" } }
      }
    },
    "/valuations/409a": {
      "get": {
        "tags": ["valuations"],
        "summary": "Get 409A valuation history",
        "description": "Returns the history of 409A fair market value determinations for the company, ordered by effective date.",
        "responses": { "200": { "description": "List of 409A valuations" } }
      }
    },
    "/equity-plans": {
      "get": {
        "tags": ["equity-plans"],
        "summary": "List equity plans and option pools",
        "description": "Returns all equity compensation plans including stock option pools, RSU plans, and their utilization status.",
        "responses": { "200": { "description": "List of equity plans" } }
      }
    },
    "/dilution/calculate": {
      "post": {
        "tags": ["dilution"],
        "summary": "Calculate dilution for a new funding round",
        "description": "Models the dilution impact of a new funding round on existing stakeholders. Provide the round size and pre-money valuation to see how ownership percentages change.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DilutionRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Dilution scenario results" } }
      }
    },
    "/fundraising-rounds": {
      "get": {
        "tags": ["fundraising"],
        "summary": "List fundraising rounds",
        "description": "Returns all fundraising rounds for the company including seed, Series A, B, etc. with amounts raised and valuations.",
        "responses": { "200": { "description": "List of rounds" } }
      }
    },
    "/plugin/summary": {
      "get": {
        "tags": ["plugin"],
        "summary": "Get cap table summary overview",
        "description": "Returns a structured overview of the company's cap table including stakeholder count by type, total authorized shares, open SAFE count and total investment, and the latest 409A valuation. Ideal as a first call to understand the current state of the cap table.",
        "responses": {
          "200": {
            "description": "Cap table summary",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CapTableSummary" }
              }
            }
          },
          "401": { "description": "Not authenticated" }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["auth"],
        "summary": "Health check — no auth required",
        "security": [],
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "version": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
